<div [formGroup]="customerInfoForm" class="container">
    <h1 *ngIf="!!customer.id">Customer:
        <span>{{customer.id}}</span>
    </h1>
    <div class="info-container">
        <div class="row">
            <mat-form-field id="firstName" class="col-12 col-md-6 col-lg-6">
                <input matInput placeholder="First Name" formControlName="firstName" />
                <mat-error *ngIf="firstName.invalid">
                    <span *ngIf="firstName.hasError('required')">First name is required.</span>
                    <span *ngIf="firstName.hasError('maxlength')">First name cannot exceed 50 characters.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field id="lastName" class="col-12 col-md-6 col-lg-6">
                <input matInput placeholder="Last Name" formControlName="lastName" />
                <mat-error *ngIf="lastName.invalid">
                    <span *ngIf="lastName.hasError('required')">Last name is required.</span>
                    <span *ngIf="lastName.hasError('maxlength')">Last name cannot exceed 50 characters.</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field id="dateOfBirth" class="col-6 col-md-6 col-lg-6">
                <input matInput readonly [matDatepicker]="datePicker" placeholder="Date of Birth" formControlName="dob">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
                <mat-error *ngIf="dob.invalid">
                    <span *ngIf="dob.hasError('required')">Please provide your date of birth</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field id="emailAddress" class="col-12 col-md-12 col-lg-12">
                <input matInput placeholder="Email Address" formControlName="emailAddress" />
                <mat-error *ngIf="emailAddress.invalid">
                    <span *ngIf="emailAddress.hasError('required')">Email address is required.</span>
                    <span *ngIf="emailAddress.hasError('maxlength')">Email address cannot exceed 50 characters.</span>
                    <span *ngIf="emailAddress.hasError('email')">Please enter a valid email address</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>